In [109]:
import numpy as pd
import pandas as pd
import seaborn as sns

In [110]:
df = sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [111]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [112]:
df.dropna(inplace=True)

In [113]:
df.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

In [114]:
from sklearn.preprocessing import LabelEncoder
lb1=LabelEncoder()
df["embark_town"]=lb1.fit_transform(df["embark_town"])
df["sex"]=lb1.fit_transform(df["sex"])
df["class"]=lb1.fit_transform(df["class"])
df["embarked"]=lb1.fit_transform(df["embarked"])
df["who"]=lb1.fit_transform(df["who"])
df["deck"]=lb1.fit_transform(df["deck"])

In [115]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,0,38.0,1,0,71.2833,0,0,2,False,2,0,yes,False
3,1,1,0,35.0,1,0,53.1000,2,0,2,False,2,2,yes,False
6,0,1,1,54.0,0,0,51.8625,2,0,1,True,4,2,no,True
10,1,3,0,4.0,1,1,16.7000,2,2,0,False,6,2,yes,False
11,1,1,0,58.0,0,0,26.5500,2,0,2,False,2,2,yes,True
21,1,2,1,34.0,0,0,13.0000,2,1,1,True,3,2,yes,True
23,1,1,1,28.0,0,0,35.5000,2,0,1,True,0,2,yes,True
27,0,1,1,19.0,3,2,263.0000,2,0,1,True,2,2,no,False
52,1,1,0,49.0,1,0,76.7292,0,0,2,False,3,0,yes,False
54,0,1,1,65.0,0,1,61.9792,0,0,1,True,1,0,no,False
62,0,1,1,45.0,1,0,83.4750,2,0,1,True,2,2,no,False
66,1,2,0,29.0,0,0,10.5000,2,1,2,False,5,2,yes,True
75,0,3,1,25.0,0,0,7.6500,2,2,1,True,5,2,no,True
88,1,1,0,23.0,3,2,263.0000,2,0,2,False,2,2,yes,False
92,0,1,1,46.0,1,0,61.1750,2,0,1,True,4,2,no,False
96,0,1,1,71.0,0,0,34.6542,0,0,1,True,0,0,no,True
97,1,1,1,23.0,0,1,63.3583,0,0,1,True,3,0,yes,False
102,0,1,1,21.0,0,1,77.2875,2,0,1,True,3,2,no,False
110,0,1,1,47.0,0,0,52.0000,2,0,1,True,2,2,no,True
118,0,1,1,24.0,0,1,247.5208,0,0,1,True,1,0,no,False
123,1,2,0,32.5,0,0,13.0000,2,1,2,False,4,2,yes,True
124,0,1,1,54.0,0,1,77.2875,2,0,1,True,3,2,no,False
136,1,1,0,19.0,0,2,26.2833,2,0,2,False,3,2,yes,False
137,0,1,1,37.0,1,0,53.1000,2,0,1,True,2,2,no,False
139,0,1,1,24.0,0,0,79.2000,0,0,1,True,1,0,no,True
148,0,2,1,36.5,0,2,26.0000,2,1,1,True,5,2,no,False
151,1,1,0,22.0,1,0,66.6000,2,0,2,False,2,2,yes,False
170,0,1,1,61.0,0,0,33.5000,2,0,1,True,1,2,no,True
174,0,1,1,56.0,0,0,30.6958,0,0,1,True,0,0,no,True
177,0,1,0,50.0,0,0,28.7125,0,0,2,False,2,0,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,1,1,1,35.0,0,0,512.3292,0,0,1,True,1,0,yes,True
741,0,1,1,36.0,1,0,78.8500,2,0,1,True,2,2,no,False
742,1,1,0,21.0,2,2,262.3750,0,0,2,False,1,0,yes,False
745,0,1,1,70.0,1,1,71.0000,2,0,1,True,1,2,no,False
748,0,1,1,19.0,1,0,53.1000,2,0,1,True,3,2,no,False
751,1,3,1,6.0,0,1,12.4750,2,2,0,False,4,2,yes,False
759,1,1,0,33.0,0,0,86.5000,2,0,2,False,1,2,yes,True
763,1,1,0,36.0,1,2,120.0000,2,0,2,False,1,2,yes,False
765,1,1,0,51.0,1,0,77.9583,2,0,2,False,3,2,yes,False
772,0,2,0,57.0,0,0,10.5000,2,1,2,False,4,2,no,True
779,1,1,0,43.0,0,1,211.3375,2,0,2,False,1,2,yes,False
781,1,1,0,17.0,1,0,57.0000,2,0,2,False,1,2,yes,False
782,0,1,1,29.0,0,0,30.0000,2,0,1,True,3,2,no,True
789,0,1,1,46.0,0,0,79.2000,0,0,1,True,1,0,no,True
796,1,1,0,49.0,0,0,25.9292,2,0,2,False,3,2,yes,True
802,1,1,1,11.0,1,2,120.0000,2,0,0,False,1,2,yes,False
806,0,1,1,39.0,0,0,0.0000,2,0,1,True,0,2,no,True
809,1,1,0,33.0,1,0,53.1000,2,0,2,False,4,2,yes,False
820,1,1,0,52.0,1,1,93.5000,2,0,2,False,1,2,yes,False
823,1,3,0,27.0,0,1,12.4750,2,2,2,False,4,2,yes,False
835,1,1,0,39.0,1,1,83.1583,0,0,2,False,4,0,yes,False
853,1,1,0,16.0,0,1,39.4000,2,0,2,False,3,2,yes,False
857,1,1,1,51.0,0,0,26.5500,2,0,1,True,4,2,yes,True
862,1,1,0,48.0,0,0,25.9292,2,0,2,False,3,2,yes,True
867,0,1,1,31.0,0,0,50.4958,2,0,1,True,0,2,no,True
871,1,1,0,47.0,1,1,52.5542,2,0,2,False,3,2,yes,False
872,0,1,1,33.0,0,0,5.0000,2,0,1,True,1,2,no,True
879,1,1,0,56.0,0,1,83.1583,0,0,2,False,2,0,yes,False
887,1,1,0,19.0,0,0,30.0000,2,0,2,False,1,2,yes,True
889,1,1,1,26.0,0,0,30.0000,0,0,1,True,2,0,yes,True

In [116]:
x=df.drop("alive",axis=1)
y=df["alive"]

In [117]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [79]:
from sklearn.neighbors import KNeighborsClassifier  
classifier= KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2 )  
classifier.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [80]:
y_pred= classifier.predict(x_test)

In [81]:
from sklearn.metrics import confusion_matrix  
cm= confusion_matrix(y_test, y_pred)

In [82]:
cm

array([[ 3,  7],
       [ 3, 24]], dtype=int64)

In [83]:
from sklearn import metrics
print(" accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

 accuracy(in %): 72.97297297297297

In [84]:
##